html {
    min-height: 100%;  
}


body {
    background-image: linear-gradient(to bottom right, #ffa200, rgb(255, 0, 234));
    font-family: "Montserrat", sans-serif;
    color:white
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.row-buttons-index {
    width:50%;
    max-width:700px
}

.btn-front-index {
    width:25%
}
@media (max-width: 955px) {
    .btn-front-index {
        width:33%
    }
    .row-buttons-index {
        width:90%
    }
}

body {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #eee;
    margin: 0;
    background-color: #222;
    min-height: 100vh;
}

.main {
    max-width: 980px;
    padding: 12px;
    margin: auto;
    padding-top:4rem;
    text-align:center;
}

.roundedBox {
    border-radius:30px;
    padding: 12px;
    margin: 12px;
}

.swhite {
    background-color: #eee;
}

input[type=text] {
    font-size: 1.8em;
    font-weight: 700;
    color: #161616;
    border: 5px solid rgb(29, 29, 29);
    border-radius:15px;
    text-align:center;
}

.Mainfooter {
    line-height: 1.3;
    font-size: 12px;
    padding: 12px;
    background-color: #111;
    margin-top: auto;
    margin: 0;
}

footer .main {
    max-width: 1200px;
    text-align:left;
}