* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#headernav {
    overflow: hidden;
    background-color: #111;
}

#headernav h3 {
    color: white;
}

.header {
    padding: 16px 50px;
    z-index: 9999;
    max-height: 3.9em;
    position: fixed;
    top: 0;
    width: 100%;
}



.header .a {
    padding: 16px 50px;
}

.content {
    padding-top: 16px;
}

.sticky+.content {
    padding-top: 60px;
}

.container {
    display: flex;
}